.channelPanel {
  width: 240px;
  background-color: #2f3136;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.serverName {
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  border-bottom: 1px solid #202225;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.arrow {
  color: #b9bbbe;
}

.channelList {
  flex-grow: 1;
  padding: 16px 8px 16px 16px;
  overflow-y: auto;
}

.category {
  color: #8e9297;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 16px;
}

.channel {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 4px;
  color: #8e9297;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 2px;
}

.channel:hover {
  background-color: #3a3c43;
  color: #dcddde;
}

.channel.active {
  background-color: #40444b;
  color: #fff;
}

.channelIcon {
  margin-right: 6px;
}